<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Restaurant Apps</title>

  <!-- Poppins-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">


</head>

<body>
  <a href="#exploreContent" class="skip-link">Skip to content</a>

  <header class="app-bar" id="appBar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>

    <div class="app-bar_brand">
      <a href="/">Rest Design</a>
    </div>

    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="/rest-favorite" id="favoriteLink">Favourite</a></li>
        <li class=""><a href="https://github.com/RedimRedim/" target="_blank">About Us</a>
      </ul>
    </nav>

  </header>

  <div class="hero-element">
    <img src="./images/heros/hero-image_2.jpg" alt="restaurant">
  </div>

  
  <!-- render through index.js -->
  <main id="mainContent">


  </main>

  <footer>
    Made with ❤ by Ant Design Community
    <br>
    Copyright © 2024 - Hunger Apps
  </footer>

</body>

</html>