<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps</title>

  <!-- Quicksand-->
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Noto+Sans:wght@400;500;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <a href="#exploreContent" class="skip-link">Skip to content</a>

  <main class="main-container" id="mainContainer">
    <nav class="sidebar">
      <div class="logo">Rest Design</div>
      <ul>
        <li class="showNav" onclick="showNav()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
              viewBox="0 -960 960 960" width="24px">
              <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
            </svg></li></a>
        <li class="navHideShowControl"><a href="#">Home</a></li>
        <li class="navHideShowControl"><a href="#">Favourite</a></li>
        <li class="navHideShowControl"><a href="https://www.dicoding.com/about" target="_blank">About us</a>
        </li>
      </ul>
    </nav>
    <br>
    <div class="hero-element">
      <img src="./images/heros/hero-image_2.jpg" alt="restaurant">
    </div>

    <section>
      <div class="content-title" id="exploreContent">Explore Restaurant</div>
      <div class="content">
        <!-- automatically generate through js box content-->
      </div>
    </section>

    <aside></aside>

    <footer>
      Made with ❤ by Ant Design Community
      <br>
      Copyright © 2024 - Hunger Apps
    </footer>
    </div>
  </main>


</body>

</html>