<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="manifest" href="app.webmanifest.json">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Restaurant Apps</title>

  <!-- Poppins-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

  <style>
    .spinner {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dot {
      width: 10px;
      height: 10px;
      margin: 0 5px;
      border-radius: 50%;
      background-color: #1677ff;
      /* Change as needed */
    }
  </style>

</head>

<body>
  <a href="#mainContent" class="skip-link">Skip to content</a>

  <header class="app-bar" id="appBar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>

    <div class="app-bar_brand">
      <a href="/">Rest Design</a>
    </div>

    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="#/favorite" id="favoriteLink">Favourite</a></li>
        <li class=""><a href="https://github.com/RedimRedim/" target="_blank">About Us</a>
      </ul>
    </nav>

  </header>

  <div class="hero-element">
    <picture>
      <!-- This source will be used for screens up to 600px -->
      <source media="(max-width: 600px)" srcset="./dist/images/hero-image_2-small.jpg">
      <!-- This img will be used for larger screens -->
      <img src="./dist/images/hero-image_2-large.jpg" alt="Hero Image">
    </picture>
  </div>

  <div id="loading" class="spinner" style="display: none">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>

  <!-- render through index.js -->
  <main id="mainContent">


  </main>

  <rest-custom-footer></rest-custom-footer>

</body>

</html>