:root {
  --font-family: "Quicksand", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  font-family: var(--font-family);
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #000;
}

.logo {
  font-size: 20px;
  font-weight: 500;
}

.navHideShowControl {
  display: block;
}

.main-container {
  /* padding: 1em 1rem;  Add padding to the left and right */
  display: grid;
  grid-template-rows: repeat(auto-fill, fit-content);
  margin-bottom: 1em;
  background-color: rgb(255, 255, 255);
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: #1677ff;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 9px;
  z-index: 100;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.skip-link:focus {
  top: 0;
}

nav {
  background-color: rgb(255, 255, 255); /* Background color for the sidebar */
  border-bottom: 2px solid rgb(0, 0, 0, 0.1);
}

.firstSidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.firstSidebar li a:hover {
  cursor: pointer;
}

.firstSidebar li,
.firstSidebar a {
  width: 100%;
  min-width: 50px;
  min-height: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  margin: 0.5em;
  min-width: 50px;
  min-height: 50px;
}

svg {
  min-width: 60px;
  min-height: 50px;
}
nav a,
ul button {
  color: rgb(0, 0, 0, 0.8);
  min-width: 50px;
  min-height: 50px;
  text-decoration: none;
  margin-right: 1em;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent; /* Set a transparent border initially */
}

button.hideSidebar {
  min-width: 44px; /* Ensure the button is 44px by 44px */
  min-height: 44px;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button.hideSidebar svg {
  width: 44px; /* Ensure the button is 44px by 44px */
  height: 44px;
}

nav a:hover {
  color: #1677ff;
  border-bottom: 2px solid #1677ff;
}

.logo {
  margin-left: 3em;
  margin-right: auto;
}

.hero-element {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.hero-element img {
  width: 100%;
  height: auto; /* maintain aspect ratio */
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* need adjustment later */
}

.showNav {
  display: none;
}

.content-title {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 650;
  font-size: 20px;
  text-align: center;
  padding: 1em;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  gap: 1em;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: rgb(245, 248, 255);
  border-radius: 10px;
}

.restItemBox {
  width: 90%;
  padding: 1em;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.restDetails {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.restPictureId img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.rest-group input {
  align-items: center;
  align-content: center;
  font-size: 1.2em;
}

.restDescription {
  line-height: 1.5em;
  text-align: justify;
  width: 100%;
  box-sizing: border-box;
}

.restName {
  font-weight: 600;
}

.restCity {
  font-style: italic;
}

#restRating {
  color: rgb(13, 110, 253);
  font-size: 1.5em;
}

#cancelRest,
#saveRest {
  width: 15%;
  border: none;
  outline: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#cancelRest {
  margin-left: 2em;
  background-color: #94a1b2;

  color: rgb(255, 255, 255);
}

#saveRest {
  background-color: #1677ff;
  color: rgb(255, 255, 255);
}

#saveRest:hover,
#cancelRest:hover {
  cursor: pointer;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.65);
  padding: 1em;
  background-color: rgb(240, 243, 250);
  line-height: 2em;
  text-align: center;
}

/* button {
  background-color: rgb(13, 110, 253);
  border-radius: 5px;
  border: 0;
  color: #fffffe;
  width: 150px;
  padding: 1em;
  cursor: pointer;
  margin: 1em 0;
  margin-left: 3.5em;
} */

.restContent {
  width: 150px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.restContent.show {
  opacity: 1;
  visibility: visible;
  height: auto;
}

#restForm {
  padding: 2em;
  width: 50%;
}

textarea {
  flex-grow: 1;
  font-size: 1.5em;
}

.rest-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

label {
  padding: 1em;
  width: 20%;
}

.rest-group input {
  flex-grow: 1;
}

.restContent {
  width: 500px;
}

.rest-button-group {
  display: flex;
}

#saveRest,
#cancelRest {
  padding: 1em;
}

#addRestaurant {
  padding: 1.5em;
  border: none;
  background-color: #1677ff;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin: 0.5em 3em;
}
