:root {
  --font-family: "Poppins", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  font-family: var(--font-family);
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #000;
  background-color: aliceblue;
}

.logo {
  font-size: 20px;
  font-weight: 500;
}

.app-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  background-color: rgb(255, 255, 255);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  padding: 1em;
  cursor: pointer;
}

.app-bar_brand {
  margin-left: 2em;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-bar_brand a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.5em;
}

.app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  height: 80px;
  overflow: hidden;
  flex-grow: 1;
  z-index: 999;
}

.app-bar__navigation {
  justify-content: flex-end;
  margin-right: 2em;
}

.app-bar__navigation.open {
  left: 0;
}

.app-bar__navigation ul {
  width: 300px;
  justify-content: flex-end;
  list-style-type: none;
}

.app-bar__navigation ul li {
  flex-grow: 1;
  align-self: center;
}

.app-bar .app-bar__navigation ul li a {
  text-decoration: none;
  color: black;
  padding: 8px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: #1677ff;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 9px;
  z-index: 100;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.skip-link:focus {
  top: 0;
}

svg {
  min-width: 60px;
  min-height: 50px;
}

nav a:hover {
  color: #1677ff;
  border-bottom: 2px solid #1677ff;
}

.logo {
  margin-left: 3em;
  margin-right: auto;
}

.hero-element {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.hero-element img {
  width: 100%;
  height: auto; /* maintain aspect ratio */
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1em;
  /* need adjustment later */
}

.content-title {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 650;
  font-size: 20px;
  text-align: center;
  padding: 1em;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  gap: 1em;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: rgb(245, 248, 255);
  border-radius: 10px;
}

.dataContainer {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

.restItemBox {
  margin: 0 auto;
  width: 90%;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.restDetails {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.restPictureId img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.rest-group input {
  width: auto;
  align-items: center;
  align-content: center;
  font-size: 1.2em;
  flex-grow: 1;
}

.restDescription {
  line-height: 1.5em;
  text-align: justify;
  width: 100%;
  box-sizing: border-box;
}

.restName {
  font-weight: 600;
}

.restCity {
  font-style: italic;
}

#restRating {
  width: 50% !important;
  flex-grow: 0 !important;
  color: rgb(13, 110, 253);
}

#cancelRest,
#saveRest {
  width: 15%;
  border: none;
  outline: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#cancelRest {
  margin-left: 2em;
  background-color: #424242;

  color: rgb(255, 255, 255);
}

#saveRest {
  background-color: #1677ff;
  color: rgb(255, 255, 255);
}

#saveRest:hover,
#cancelRest:hover,
.unlikeBtn:hover,
.favBtn:hover {
  cursor: pointer;
}

.form-content {
  display: grid;
  gap: 1.5em;
}

#restForm {
  width: 70%;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
}

textarea {
  flex-grow: 1;
  font-size: 1.5em;
}

.rest-group {
  display: flex;
  flex-direction: column; /* Aligns label and input vertically */
  margin-bottom: 15px; /* Space between form groups */
}

input:focus,
textarea:focus {
  border: 3px solid rgb(13, 110, 253, 0.5);
  outline: none;
}

input[type="file"] {
  padding: 0; /* Adjust padding for file input */
}

input[type="number"] {
  width: 50%; /* Adjust width for number input */
}

label {
  font-weight: bold; /* Makes the label text bold */
  margin-bottom: 5px; /* Space between label and input */
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea:focus {
  padding: 10px;
  font-size: 1.2em;
}

#restRating::placeholder {
  font-size: 0.8em !important;
}

.restContent {
  width: 500px;
}

.rest-button-group {
  margin-top: 2em;
  display: flex;
}

#saveRest,
#cancelRest {
  padding: 1em;
  width: 30%;
}

#addRestaurant {
  display: block; /* Make the button a block element */
  margin: 0 auto; /* Centers the button */
  margin-bottom: 1em;
  padding: 1.5em;
  border: none;
  background-color: #1677ff;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.favContainer {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Adjusts number of columns */
  max-width: 1200px; /* Set a max width so that 3 columns fit in */
  gap: 1.5em;
}

.favContent {
  margin: 0 auto;
  width: 90%;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* restDetails site */

#mainContent {
  padding: 1.5em;
}
.detail-content {
  display: grid;
  padding: 1em;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  grid-template-areas:
    "item1 item1 item1" /* Span item1 across 2 columns */
    "item2 item3 item3"
    "item4 item4 item4" /* Span item4 across 2 columns */
    "item5 item5 item5"; /* Span item5 across 2 columns */
  gap: 1em; /* Optional: Adds space between grid items */
}

.item1 {
  grid-area: item1;
  justify-content: flex-start;
  column-gap: 3em;
  align-items: center;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
  padding: 1.3em;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.item2 img {
  width: 100%;
  height: auto; /* maintain aspect ratio */
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1em;
  /* image */
}

.menuContent {
  display: flex;
  flex-direction: row;
}

.foods,
.drinks {
  width: 100%;
}

.restFoods,
.restDrinks {
  line-height: 2em;
}

.restReviews {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.reviewContent {
  border: 1px solid rgb(13, 110, 253, 0.5);

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 0.5em;
}

.restReviewName {
  font-weight: bold;
}

.restReviewReview {
  padding: 1em;
}

.reviewPersonDetails {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.unlikeBtn,
.favBtn {
  width: 120px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  padding: 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.restReviewReview {
  word-wrap: break-word; /* Break long words onto the next line */
  white-space: normal; /* Allows text to wrap onto multiple lines */
  overflow-wrap: break-word; /* Ensures long words break to fit within the container */
}

.restReviews {
  max-height: 500px;
  overflow: auto;
}
