/* Styles for phones (max-width: 480px) */
@media (min-width: 100px) and (max-width: 480px) {
  body,
  html {
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    width: fit-content;
    box-sizing: border-box;
    color: #000;
  }
  nav .logo {
    margin-left: 1em;
  }

  .hero-element {
    width: fit-content;
  }

  .main-container {
    width: fit-content;
  }

  .hero-element img {
    width: 100%;
    height: auto; /* maintain aspect ratio */
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .content-title {
    margin-top: 1em;
    padding: 0;
  }

  .content {
    grid-template-columns: 1fr;
    width: 95%;
  }

  .restItemBox {
    width: 80%;
    padding: 1em;
    margin: 0 auto;
  }

  .restPictureId img {
    width: 100%;
    height: auto; /* maintain aspect ratio */
  }

  .showNav {
    display: inline-block;
  }

  .hideOnMobile {
    display: none;
  }
}

/* Styles for small tablets in portrait */
@media (min-width: 600px) and (max-width: 768px) {
  .hero-element img {
    width: 100%;
    height: auto; /* maintain aspect ratio */
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
  }

  .restItemBox {
    width: 80%;
    margin: 0 auto;
  }
}
