@media (min-width: 100px) and (max-width: 480px) {
  .hero-element {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .hero-element img {
    width: 100%;
    height: auto; /* maintain aspect ratio */
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .content-title {
    padding: 1em;
  }

  .content {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .restItemBox {
    padding: 1em;
    margin: 0 auto;
  }

  .restPictureId img {
    width: 100%;
    height: auto; /* maintain aspect ratio */
  }

  .showNav {
    display: inline-block;
  }

  .hideOnMobile {
    display: none;
  }

  #addRestaurant {
    display: block; /* Make the button a block element */
    margin: 0 auto; /* Centers the button */
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .rest-button-group {
    width: 100%;
    padding: 0.5em;
  }

  textarea {
    flex-grow: 1;
    font-size: 1em;
  }

  .dataContainer {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 0;
  }

  #restRating::placeholder,
  input[type="file"] {
    font-size: 9px !important;
  }
  .restDetails {
    flex-direction: column;
  }

  input[type="text"],
  input[type="number"],
  input[type="file"],
  textarea:focus {
    font-size: 1em;
  }
}

/* Styles for small tablets in portrait */
@media (min-width: 481px) and (max-width: 768px) {
  .hero-element {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .hero-element img {
    width: 100%;
    height: auto; /* maintain aspect ratio */
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .content {
    row-gap: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .restItemBox {
    width: 90%;
    margin: 0 auto;
  }

  .restPictureId img {
    width: 100%;
    height: auto; /* maintain aspect ratio */
  }

  .rest-button-group {
    padding: 0.5em;
  }

  .dataContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  #addRestaurant {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .restDetails {
    flex-direction: column;
    column-gap: 0.5em;
  }
}

@media (max-width: 767px) {
  .rest-group input {
    font-size: 0.8em;
    width: auto;
  }

  .app-bar_brand {
    margin: 0;
  }

  .app-bar__navigation ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .app-bar__navigation.open {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    background-color: rgb(255, 255, 255, 0.9);
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
  }

  .app-bar__navigation ul li {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
  }
  .app-bar .app-bar__navigation ul li a {
    padding: 1em 0;
  }

  #saveRest,
  #cancelRest {
    width: 30%;
  }

  #restForm {
    width: 75%;
  }

  label {
    margin: 0;
    align-self: center;
  }

  .favContainer {
    grid-template-columns: fr; /* Reduce to 1 column for even smaller screens */
  }

  .dataContainer {
    padding: 0;
  }

  .detail-content {
    grid-template-columns: repeat(2, 1fr); /* Create 3 equal columns */
    grid-template-areas:
      "item1  item1" /* Span item1 across 2 columns */
      "item2 item2"
      "item3 item3"
      "item4  item4" /* Span item4 across 2 columns */
      "item5  item5"; /* Span item5 across 2 columns */
    gap: 1em; /* Optional: Adds space between grid items */
  }

  .restReviews {
    gap: 1em;
  }

  .restDesc {
    max-height: 300px;
    overflow: auto;
    word-wrap: break-word; /* Break long words onto the next line */
  }

  .form-group {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .hero-element img {
    width: 1000px;
    height: auto; /* maintain aspect ratio */
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* need adjustment later */
  }
}

@media (min-width: 650px) {
  .dataContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 950px) {
  .dataContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) {
  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    display: flex;
  }

  #navigationDrawer ul {
    display: flex;
    flex-direction: row;
  }

  label {
    margin: 0;
  }
}
